.title-zone{
  padding: 5em;
  width: 100%;
  text-align: center;
}

.logo-zone{
  animation: puti-logo-beat infinite 1s ease-out;
}

.body-zone{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.btn{
  margin: 0.2em;
  transform: scale(1.5);
}

@keyframes puti-logo-beat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}