.title-zone{
  padding: 3em;
  width: 100%;
  text-align: center;
  height: 50%;
}

.logo-zone{
  width: fit-content;
  margin: auto;
}

.logo-zone img {
  width: 80% !important;
  object-fit: contain;
  animation: puti-logo-beat infinite 1s ease-out;
}

.body-zone{
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 2em;
}

.left-column{
  margin-right: 1em;
}

.right-column{
  margin-left:  1em;
}

.btn{
  margin: 0.2em;
  transform: scale(1.5);
}

@keyframes puti-logo-beat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}